.abc-sologan{
    color: #0010b9;
    font-weight: 700;
    font-size: 18px;
}
.p1{
    font-size: 14px;
    font-weight: 700;
}
.a1{
    font-weight: 550;
    font-size: 18px;
    color:#0010b9;
}
.line{
    border-width: 4px 0; 
    color: #cf2e2e !important;
  
}
.ha{
    color:#4e4e4e;
    font-size: 60px;
    font-weight: 600;

}
.p2{
    font-size: 14px;
    font-weight: 550;
    color:#4e4e4e;
}
.abc-sologan1{
    color: #0010b9;
    font-weight: 700;
    font-size: 18px;
    padding-right: 500px;
}
.uk-navbar-nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style:none;
}
ul{
    box-sizing: border-box;
}
.icon{
    margin-left: 600px;
    margin-top: 12px;
   
}
.line1{
    border-width: 1px 0; 
    color: #cf2e2e !important;
    width: 51%;
    margin-left: 700px;
  
}
.styled-hr {
    position: relative; /* Position relative to place the pseudo-element correctly */
    border: 0;
    height: 1px;
    background-color: black; /* Style of the horizontal line */
    margin-top: 20px; /* Space between the text and the line */
}

.styled-hr::before {
    content: "Hello"; /* Text to be added */
    display: inline-block; /* Make it inline so it appears next to the line */
    color: black; /* Text color */
    font-size: 16px; /* Text size */
    margin-right: 10px; /* Space between the text and the line */
    vertical-align: middle; /* Align the text with the middle of the line */
}

