.abc-sologan{
    color: #0010b9;
    font-weight: 700;
    font-size: 18px;
}
.p1{
    font-size: 14px;
    font-weight: 700;
}
.a1{
    font-weight: 550;
    font-size: 18px;
    color:#0010b9;
}
.line{
    border-width: 4px 0; 
    color: #cf2e2e !important;
  
}
.ha{
    color:#4e4e4e;
    font-size: 60px;
    font-weight: 600;

}
.p2{
    font-size: 14px;
    font-weight: 550;
    color:#4e4e4e;
}
.abc-sologan1{
    color: #0010b9;
    font-weight: 700;
    font-size: 18px;
    padding-right: 500px;
}
.uk-navbar-nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style:none;
}
ul{
    box-sizing: border-box;
}
.icon{
    margin-left: 600px;
    margin-top: 12px;
   
}
.lines{
    border-width: 1px 0; 
    color: #cf2e2e !important;
    width: 51%;
    margin-left: 700px;
  
}
.hr-lines {
    display: flex;
    align-items: center;
    max-width: 2080px;
    
  }

  .hr-lines h2 {
    margin: 0;
    padding-right: 10px; /* Adjust spacing between text and line */
    white-space: nowrap;
  }

  .hr-lines:after {
    content: "";
    flex-grow: 1;
    height: 2px;
    background: red;
    margin-left: 10px; /* Adjust spacing between text and line */
  }

  

