.abc-sologan{
    color: #0010b9;
    font-weight: 700;
    font-size: 18px;
}
.p1{
    font-size: 14px;
    font-weight: 700;
}
.a1{
    font-weight: 550;
    font-size: 18px;
    color:#0010b9;
}
.line{
    border-width: 4px 0; 
    color: #cf2e2e !important;
  
}